<div class="card">
  <div class="card-header d-flex justify-content-between">
    <span
      >Invoice number: #{{ invoice.number < 10 ? "00" : "0"
      }}{{ invoice.number }}</span
    >
    <span>Invoice date: {{ invoice.date }}</span>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5>
        Invoice amount: <span class="fw-bold">€{{ invoice.amount }}</span>
      </h5>
      <p *ngIf="invoice.notes">#Notes: {{ invoice.notes }}</p>
      <h5>
        Invoice status: <span class="fw-bold">{{ invoice.status }}</span>
      </h5>
    </div>
    <div class="d-flex flex-column" *ngIf="!roles.includes('CUSTOMER')">
      <app-customer-info [invoice]="invoice"></app-customer-info>
    </div>
  </div>
  <div
    class="card-footer d-flex justify-content-end"
    *ngIf="roles.includes('ADMIN') || roles.includes('USER')"
  >
    <button class="btn btn-success" (click)="openModal(invoice)">Edit</button>
  </div>
</div>
