<div class="container-fluid cover">
  <div class="row">
    <div class="col-12 col-md-5 d-none d-md-block py-2">
      <div class="background round"></div>
    </div>
    <div class="col">
      <div class="p-3">
        <h1 class="mb-4">
          Welcome <br />
          on EnergyService ⚡️
        </h1>
        <form [formGroup]="form" (ngSubmit)="login()">
          <div class="form-group">
            <label for="mail">E-Mail</label>
            <input
              type="text"
              name="identifier"
              placeholder="mario@gmail.com"
              class="form-control"
              formControlName="identifier"
            />
            <label for="password" class="mt-2">Password</label>
            <input
              type="password"
              name="password"
              placeholder="******"
              class="form-control"
              formControlName="password"
            />
          </div>
          <p class="mt-2">
            Don't have an account? <a routerLink="register">Register now</a>
          </p>
          <p class="mt-2">
            Forgot password? <a routerLink="forgot-password">Reset here</a>
          </p>
          <button
            type="submit"
            class="btn btn-primary mt-1"
            [disabled]="form.invalid"
          >
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
