.background {
  background-image: url('/copertina.png');
  background-size: cover;
  height: 100vh;
  background-position: center;
}
.cover{
  height: 100vh;
  overflow: hidden;
}
.hide{
  display: none;
}
.display{
  display: block;
}
