<div>
  <h1 class="text-center my-4">Welcome {{ customer.denomination }}</h1>
  <div
    *ngIf="isLoading"
    class="d-flex justify-content-center position-absolute start-50 translate-middle-x spinner"
  >
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <ng-container *ngIf="!isLoading">
    <app-card-customer
      [customer]="customer"
      [isCustomer]="true"
    ></app-card-customer>
  </ng-container>
</div>
