<div class="container" >
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item" *ngIf="!roles.includes('CUSTOMER') && roles.length !== 0">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary"
          aria-current="page"
          >Home</a
        >
      </li>
      <li class="nav-item" *ngIf="roles.length !== 0">
        <a routerLink="/customers" routerLinkActive="active" class="nav-link text-secondary"
          >Customers</a
        >
      </li>
      <li class="nav-item" *ngIf="roles.length !== 0">
        <a routerLink="/invoices" routerLinkActive="active" class="nav-link text-secondary"
          >Invoices</a
        >
      </li>
      <li class="nav-item" *ngIf="!roles.includes('ADMIN') && !roles.includes('CUSTOMER') && roles.length !== 0 ">
        <a
          routerLink="/create-invoice"
          routerLinkActive="active"
          class="nav-link text-secondary"
          >Create Invoice</a
        >
      </li>
      <li class="nav-item" *ngIf="roles.includes('ADMIN')">
        <a
          routerLink="/auth/registeruser"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary"
          >Register User</a
        >
      </li>
      <li class="nav-item" *ngIf="roles.length == 0" >
        <a
          routerLink="/auth"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary"
          >Login</a
        >
      </li>
      <li class="nav-item" *ngIf="roles.length !== 0">
        <a role="button" (click)="logout()" class="nav-link text-secondary">Logout</a>
      </li>
    </ul>
  </header>
</div>
