<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary"
          aria-current="page"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/customers" routerLinkActive="active" class="nav-link text-secondary"
          >Customer</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/invoices" routerLinkActive="active" class="nav-link text-secondary"
          >Invoces</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/create-invoice"
          routerLinkActive="active"
          class="nav-link text-secondary"
          >Create Invoice</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/auth/registeruser"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary"
          >Register User</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/auth"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a role="button" (click)="logout()" class="nav-link text-secondary">Logout</a>
      </li>
    </ul>
  </header>
</div>
