<h3>Search customers</h3>
<div class="position-relative">
  <h5>Search by</h5>
  <div class="btn-group" role="group">
    <input
      type="radio"
      class="btn-check"
      name="searchBy"
      id="all"
      autocomplete="off"
      [(ngModel)]="searchBy"
      value="all"
      checked
    />
    <label class="btn btn-outline-primary" for="all">All</label>
    <input
      type="radio"
      class="btn-check"
      name="searchBy"
      id="byCreationDate"
      autocomplete="off"
      [(ngModel)]="searchBy"
      value="byCreationDate"
      (change)="openSearchByCreationDate()"
    />
    <label class="btn btn-outline-primary" for="byCreationDate"
      >Creation Date</label
    >

    <input
      type="radio"
      class="btn-check"
      name="searchBy"
      id="byLastContact"
      [(ngModel)]="searchBy"
      value="byLastContact"
      autocomplete="off"
      (change)="openSearchByLastContact()"
    />
    <label class="btn btn-outline-primary" for="byLastContact"
      >Last Contact</label
    >

    <input
      type="radio"
      class="btn-check"
      name="searchBy"
      [(ngModel)]="searchBy"
      value="byDenomination"
      id="byDenomination"
      autocomplete="off"
      (change)="openSearchByDenomination()"
    />
    <label class="btn btn-outline-primary" for="byDenomination"
      >Denominations</label
    >
    <input
      type="radio"
      class="btn-check"
      name="searchBy"
      id="byYearlyTurnover"
      [(ngModel)]="searchBy"
      value="byYearlyTurnover"
      autocomplete="off"
      (change)="openSearchByYearlyTurnover()"
    />
    <label class="btn btn-outline-primary" for="byYearlyTurnover"
      >Yearly Turnover</label
    >
    <input
      type="radio"
      class="btn-check"
      name="searchBy"
      id="byVatcode"
      [(ngModel)]="searchBy"
      value="byVatcode"
      autocomplete="off"
      (change)="openSearchByVatcode()"
    />
    <label class="btn btn-outline-primary" for="byVatcode">Vat Code</label>
  </div>
</div>
