<h3>Search invoices</h3>
<div>
  <h5>Search by</h5>
  <div class="btn-group" role="group">
    <input
      type="radio"
      class="btn-check"
      name="searchBy"
      id="all"
      autocomplete="off"
      [(ngModel)]="searchBy"
      value="all"
      checked
      (change)="getAll()"
    />
    <label class="btn btn-outline-primary" for="all">All</label>

    <input
      type="radio"
      class="btn-check"
      name="searchBy"
      id="byNumber"
      [(ngModel)]="searchBy"
      value="byNumber"
      autocomplete="off"
      (change)="openSearchByNumber()"
    />
    <label class="btn btn-outline-primary" for="byNumber">Number</label>

    <input
      type="radio"
      class="btn-check"
      name="searchBy"
      [(ngModel)]="searchBy"
      value="byStatus"
      id="byStatus"
      autocomplete="off"
      (change)="openSearchByStatus()"
    />
    <label class="btn btn-outline-primary" for="byStatus">Status</label>
    <input
      type="radio"
      class="btn-check"
      name="searchBy"
      id="byCustomerInfo"
      [(ngModel)]="searchBy"
      value="byCustomerInfo"
      autocomplete="off"
      (change)="openSearchByCustomerInfo()"
    />
    <label class="btn btn-outline-primary" for="byCustomerInfo"
      >Customer Info</label
    >
    <input
      type="radio"
      class="btn-check"
      name="searchBy"
      id="byDate"
      [(ngModel)]="searchBy"
      value="byDate"
      autocomplete="off"
      (change)="openSearchByDate()"
    />
    <label class="btn btn-outline-primary" for="byDate">Date</label>
    <input
      type="radio"
      class="btn-check"
      name="searchBy"
      id="byYear"
      [(ngModel)]="searchBy"
      value="byYear"
      autocomplete="off"
      (change)="openSearchByYear()"
    />
    <label class="btn btn-outline-primary" for="byYear">Year</label>

    <input
      type="radio"
      class="btn-check"
      name="searchBy"
      id="byAmount"
      [(ngModel)]="searchBy"
      value="byAmount"
      autocomplete="off"
      (change)="openSearchByAmount()"
    />
    <label class="btn btn-outline-primary" for="byAmount">Amount</label>
  </div>
</div>
<div *ngIf="invoices" class="row py-3 gy-3">
  <div *ngIf="isPaged">
    <div class="d-flex align-items-center">
      <p class="mb-0">Pages:</p>
      <span
        (click)="changePage(num - 1)"
        class="badge text-primary"
        *ngFor="let num of pages"
        role="button"
        >{{ num }}</span
      >
    </div>
  </div>
  <div class="col-12" *ngFor="let invoice of invoices">
    <app-invoice-card [invoice]="invoice"></app-invoice-card>
  </div>
</div>
