<ng-container *ngIf="customer">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <span>ID: <span class="fw-bold">{{ customer.id }}</span></span>
      <span>Creation Date:<span class="fw-bold"> {{ customer.creationDate }}</span> </span>
    </div>
    <div class="card-body">

        <h5>
          <span class="grey">Denomination: </span>
          <span class="fw-bold">{{ customer.denomination }}</span>
        </h5>
        <h5>
          <span class="grey">VatCode: </span> <span class="fw-bold">{{ customer.vatCode }}</span>
        </h5>

      <div class="d-flex flex-column">
        <p class="mb-1 mt-2 fw-bold">Details</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="grey">💼 Type:</span>
             <span class="fw-bold"> </span> {{ customer.type }}
          </li>
          <li class="list-group-item">
            <span class="grey">📞 Contact phone:</span>
            <span class="fw-bold"> {{ customer.contactPhone }}</span>
          </li>
          <li class="list-group-item">
            <span class="grey">✉️ PEC: </span><span class="fw-bold"> {{ customer.pec }}</span>
          </li>
          <li class="list-group-item">
            <span class="grey"> 📍Office :</span>
            <span class="fw-bold">
              {{ customer.addresses.RegisteredOfficeAddress.street }}
              {{ customer.addresses.RegisteredOfficeAddress.city.name }}
              {{
                customer.addresses.RegisteredOfficeAddress.city.district.code
              }}
              {{ customer.addresses.RegisteredOfficeAddress.cap }}
            </span>
          </li>
          <li class="list-group-item">
           <span class="grey"> 🏢 Headquarter:</span>
            <span class="fw-bold">
              {{ customer.addresses.OperationalHeadquartersAddress.street }}
              {{ customer.addresses.OperationalHeadquartersAddress.city.name }}
              {{
                customer.addresses.OperationalHeadquartersAddress.city.district
                  .code
              }}
              {{ customer.addresses.OperationalHeadquartersAddress.cap }}
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-footer bg-transparent d-flex justify-content-end">
      <a class="text-primary no-underline" (click)="seeInvoices()">
         → See invoices
      </a>
    </div>
  </div>
</ng-container>

<!-- <li class="list-group-item" *ngIf="customer.yearlyTurnover > 0">
  Yearly turnover: {{ customer.yearlyTurnover }} €
</li> -->
