<div class="container-fluid cover">
  <div class="row">
    <div class="col-12 col-md-4 background"></div>
    <div class="col-12 col-md-8">
      <div class="p-3">
        <h1>Registrati</h1>

        <ngb-progressbar class="mb-3" type="success" textType="white" [value]="progress" [showValue]="true" />
        <form [formGroup]="form" (ngSubmit)="register()">
          <!-- Dati Utente -->
          <fieldset *ngIf="currentStep === 1">
            <legend>Dati Utente</legend>
            <div class="form-group">
              <label for="name">Nome</label>
              <input id="name" type="text" placeholder="Nome" class="form-control" formControlName="name">

              <label for="surname" class="mt-3">Cognome</label>
              <input id="surname" type="text" placeholder="Cognome" class="form-control" formControlName="surname">

              <label for="email" class="mt-3">E-mail</label>
              <input id="email" type="email" placeholder="Email" class="form-control" formControlName="email">

              <label for="password" class="mt-3">Password</label>
              <input id="password" type="password" placeholder="Password" class="form-control" formControlName="password">

              <label for="username" class="mt-3">Username</label>
              <input id="username" type="text" placeholder="Username" class="form-control" formControlName="username">
            </div>
            <button type="button" class="btn btn-primary mt-4" (click)="nextStep()">Avanti</button>
          </fieldset>

          <!-- Dati Cliente -->
          <fieldset *ngIf="currentStep === 2">
            <legend>Dati Cliente</legend>
            <div class="form-group">
              <label for="denomination">Denominazione</label>
              <input id="denomination" type="text" placeholder="Denominazione" class="form-control" formControlName="denomination">

              <label for="vatCode" class="mt-3">Partita IVA</label>
              <input id="vatCode" type="text" placeholder="Partita IVA" class="form-control" formControlName="vatCode">

              <label for="pec" class="mt-3">PEC</label>
              <input id="pec" type="email" placeholder="PEC" class="form-control" formControlName="pec">

              <label for="phone" class="mt-3">Telefono</label>
              <input id="phone" type="text" placeholder="Telefono" class="form-control" formControlName="phone">

              <label for="contactPhone" class="mt-3">Telefono Contatto</label>
              <input id="contactPhone" type="text" placeholder="Telefono Contatto" class="form-control" formControlName="contactPhone">

              <label for="type" class="mt-3">Tipo</label>
              <select id="type" class="form-control" formControlName="type">
                <option value="">Seleziona Tipo</option>
                <option *ngFor="let type of types" [value]="type">{{ type }}</option>
              </select>
            </div>
            <button type="button" class="btn btn-secondary mt-4" (click)="prevStep()">Indietro</button>
            <button type="button" class="btn btn-primary mt-4" (click)="nextStep()">Avanti</button>
          </fieldset>

          <!--  Sede Legale -->
          <fieldset *ngIf="currentStep === 3">
            <legend>Sede Legale</legend>
            <div class="form-group">
              <label for="registeredStreet">Via</label>
              <input id="registeredStreet" type="text" placeholder="Via" class="form-control" formControlName="street">

              <label for="registeredAddressNumber" class="mt-3">Numero Civico</label>
              <input id="registeredAddressNumber" type="text" placeholder="Numero Civico" class="form-control" formControlName="addressNumber">

              <label for="registeredCap" class="mt-3">CAP</label>
              <input id="registeredCap" type="number" placeholder="CAP" class="form-control" formControlName="cap">

              <label for="registeredDistrict" class="mt-3">Provincia</label>
              <select id="registeredDistrict" class="form-control" formControlName="districtId" (change)="onDistrictChange($event)">
                <option value="">Seleziona Provincia</option>
                <option *ngFor="let district of districts" [value]="district.id">
                  {{ district.name }}
                </option>
              </select>

              <label *ngIf="selected" for="registeredCity" class="mt-3">Città</label>
              <select *ngIf="selected" id="registeredCity" class="form-control" formControlName="idCity">
                <option [value]="null">Seleziona una città</option>
                <option *ngFor="let city of cities" [value]="city.id">
                  {{ city.name }}
                </option>
              </select>
            </div>
            <button type="button" class="btn btn-secondary mt-4" (click)="prevStep()">Indietro</button>
            <button type="button" class="btn btn-primary mt-4" (click)="nextStep()">Avanti</button>
          </fieldset>

          <!-- Sede Operativa -->
          <fieldset *ngIf="currentStep === 4">
            <legend>Sede Operativa</legend>
            <div class="form-group">
              <label for="operationalStreet">Via</label>
              <input id="operationalStreet" type="text" placeholder="Via" class="form-control" formControlName="street">

              <label for="operationalAddressNumber" class="mt-3">Numero Civico</label>
              <input id="operationalAddressNumber" type="text" placeholder="Numero Civico" class="form-control" formControlName="addressNumber">

              <label for="operationalCap" class="mt-3">CAP</label>
              <input id="operationalCap" type="number" placeholder="CAP" class="form-control" formControlName="cap">

              <label for="operationalDistrict" class="mt-3">Provincia</label>
              <select id="operationalDistrict" class="form-control" formControlName="districtId" (change)="onDistrictChange1($event)">
                <option value="">Seleziona Provincia</option>
                <option *ngFor="let district of districts" [value]="district.id">
                  {{ district.name }}
                </option>
              </select>

              <label *ngIf="selected1" for="operationalCity" class="mt-3">Città</label>
              <select *ngIf="selected1" id="operationalCity" class="form-control" formControlName="idCity">
                <option [value]="null">Seleziona una città</option>
                <option *ngFor="let city of cities" [value]="city.id">
                  {{ city.name }}
                </option>
              </select>
            </div>
            <button type="button" class="btn btn-secondary mt-4" (click)="prevStep()">Indietro</button>
            <button type="submit" class="btn btn-primary mt-4" [disabled]="form.invalid">Registrati</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
