<p class="mb-0 fw-bold">Customer details</p>
<ul class="list-group list-group-flush">
  <li class="list-group-item">{{ customer.denomination }}</li>
  <li class="list-group-item">Vat code: {{ customer.vatCode }}</li>
  <li class="list-group-item">Contact phone: {{ customer.contactPhone }}</li>
  <li class="list-group-item">PEC: {{ customer!.pec }}</li>
  <li class="list-group-item" *ngIf="customer!.yearlyTurnover > 0">
    Yearly turnover: {{ customer.yearlyTurnover }} €
  </li>
  <li class="list-group-item">
    Office address:
    {{ customer.addresses.RegisteredOfficeAddress.street }}
    {{ customer.addresses.RegisteredOfficeAddress.city.name }}
    {{ customer.addresses.RegisteredOfficeAddress.city.district.code }}
    {{ customer.addresses.RegisteredOfficeAddress.cap }}
  </li>
  <li class="list-group-item">
    Headquarter address:
    {{ customer.addresses.OperationalHeadquartersAddress.street }}
    {{ customer.addresses.OperationalHeadquartersAddress.city.name }}
    {{ customer.addresses.OperationalHeadquartersAddress.city.district.code }}
    {{ customer.addresses.OperationalHeadquartersAddress.cap }}
  </li>
</ul>
